<header id="header">
  <a class="home-link" href="/">
    <img class="logo" src="https://bit.ly/31IAeFx">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a href="/">Hacker News</a>
      </h1>
      <span class="header-nav">
        <a href="">new</a>
        <span class="divider">
          |
        </span>
        <a href="">show</a>
        <span class="divider">
          |
        </span>
        <a href="">ask</a>
        <span class="divider">
          |
        </span>
        <a href="">jobs</a>
      </span>
    </div>
    <div class="info">
      Built with <a href="https://angular.io/" target="_blank">Angular</a>
    </div>
  </div>
</header>
